<div class="event">
  <div class="content">
    <div class="summary">
      <a>Elliot Fu</a>: I like this one
    </div>
  </div>
</div>
<div class="event">
  <div class="content">
    <div class="summary">
      <a>Stevie Feliciano</a>: And I like this one
    </div>
  </div>
</div>
<div class="event">
  <div class="content">
    <div class="summary">
      <a>Helen Troy</a>: Cool, cool
    </div>
  </div>
</div>
<div class="event">
  <div class="content">
    <div class="summary">
      <a>Christian Rocha</a>: Padumm
    </div>
  </div>
</div>
