<% @comments.each do |comment| %>
  <div class="event">
    <div class="content">
      <div class="summary">
        <%= "#{time_ago_in_words(comment.created_at)}: #{comment.body}" %>
      </div>
    </div>
  </div>
<% end %>
